@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '@fontsource-variable/readex-pro';

body {
  font-family: 'Readex Pro Variable', sans-serif;
}

@keyframes fancy-bg {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.fancy {
  background: linear-gradient(318deg, #1b6da4 0%, #23aeb5 50%, #1b6da4 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 200%;
  animation: fancy-bg 3s linear infinite;
}

.fancy-bg {
  background: linear-gradient(318deg, #1b6da4 0%, #23aeb5 50%, #1b6da4 100%);
  background-size: 200% 200%;
  animation: fancy-bg 3s linear infinite;
}

.main {
  padding: 2rem;
  max-width: 80rem;
  margin: 0 auto;

  h1 {
    margin-top: 8rem;
    font-size: 5rem;
    line-height: 6rem;
  }

  .logo {
    width: 30rem;
  }

  .gui::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(318deg, #0000 10%, #fff1 22%, #0000 30%);
    border-radius: 0.375rem;
    transform: translateY(-2rem);
  }

  .l {
    float: left;
  }

  .r {
    float: right;
  }

  .b {
    clear: both;
  }
}